/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body, html {
    margin: 0;
    padding: 0;
     font-family: "Quicksand", sans-serif; 
    box-sizing: border-box;
}

.landing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

/* Main Content Styles */
.main-content {
    flex: 1;
    padding: 15px;
    background-color: #f4f4f4;
    align-items: center;
    text-align: center;
    height: 70vh;
    width: 100vw;
}
.businesses {
  margin-top: 17px;
  max-height: 820px;
  overflow-y: auto;
}
.elements {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.elements p {
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.4s ease;
    margin:0 10px;
}

.elements p:hover {
    background-color: #001263;
    color: white;
}


.marquee {
    float: right;
    background-color:rgb(10, 10, 113);
    color: white;
    height:60px;
    align-items: center;
    text-align: center;

}
  
  /* Responsive Design */

  @media (max-width:1010px)
  {
    header p{
        display: none;
    }
  }
   @media (max-width: 840px) {/*768 */
    header h2 {
      font-size: 20px;
    }
  
    .navigations {
        width: 40%;
        flex-direction:row;
    }

     .businesses {
        width: 50%;
        float: right;
    }
    .elements {
        display: none;
    }
  }
  @media (max-width:690px)
  {
    header h2{
        display: none;
    }
  }
  
  