.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    padding: 15px;
    text-align: center;
  }
  .login-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-page input {
    margin: 15px 6px;
    padding: 15px;
    border: 2px solid orange;
    background-color: hsl(38, 16%, 75%);
    border-radius: 10px;
    font-size: 16px;
    outline: orange;
    width: 400px;
  }

  .toggle-button:focus{
    outline: none;
    border: none;
  }
  .login-page input:hover {
    border: 2.5px solid orange;
    transition: 0.1s ease;
  }
  .login-page .button {
    background-color: orange;
    margin: 5px;
    color: white;
    font-size: 1.1em;
    padding: 10px;
    width: 100px;
    box-shadow:  0 0 3px rgb(89, 89, 206);
    border-radius: 15px;
  }

  .login-page .button:hover {
    background-color: hsl(39, 100%, 45%);
    transition: 0.3s ease;
  }

.login-options {
  border: 2px solid whitesmoke;
  margin: 5px;
  align-items: center;
  width: 400px;
}
.login-options h3 a{
  margin: 15px;
  text-decoration: none;
  color: black;
}

  .login-page pre {
    font-size: 1.2em;
    padding: 10px 0px;
    
  }

  .login-page h2 {
    color: rgb(0, 0, 113);
    font-size: 2em;
  }

  img {
  float: left;
  max-width: 200px;
  max-height: 100px;
  border-radius: 40px;
  margin: 5px;
  }

  img:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 181, 231);
    box-shadow: 0 2px 5px rgb(2, 132, 146);
  }