body {
  height: 100vh;
}
.signup-page {
    max-width: 600px;
    max-height: 500px;
    margin:0;
    padding: 20px;
    top: 0;
    text-align: center;
  }
  .signup-page form {
    display: flex;
    flex-direction: column;
    
  }

  .signup-page label{
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .signup-page input {
    margin: 15px 6px;
    padding: 15px;
    border: 2px solid orange;
    background-color: rgb(200, 176, 133);
    border-radius: 10px;
    font-size: 16px;
    outline: orange;

  }
.eye-button {
  position: absolute;
  margin: 15px 6px;
  padding: 15px;
  border: 2px solid orange;
  background-color: rgb(200, 176, 133);
  border-radius: 10px;
  font-size: 16px;
  outline: orange;
}
  .signup-page input:hover {
    border: 3px solid orange;
    transition: 0.1s ease;
  }
  .signup-page h2 {
    color: rgb(0, 0, 130);
    font-family:Arial, Helvetica, sans-serif
  }
.signup-page label {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.signup-page pre {
  font-size: 1.3em;
  padding-bottom: 20px;
}
.names p {
  text-align: center;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-page p {
    text-align: left;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.signup-button {
  background-color: rgb(249, 117, 17);
  margin: auto;
  color: white;
  font-size: 1.1em;
  padding: 10px;
  border: 2px solid rgb(247, 100, 8);
  border-radius: 15px;
}

.signup-button:hover {
  background-color: orange;
}

.normal-page {
  text-align: left;
  border: 2px solid orange;
  border-radius: 70px;
  width: 160px;
  background-color: orange;
  color: rgb(0, 0, 114);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.names  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.policy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}
.policy p{
  position: absolute;
  margin-left: 50px;
}