.comm-butons button{
    background-color: blue;
}

.icons {
    margin-top: auto;
    margin:3px 5px;
    transition:0.3s ease ;
}
.icons:hover{
    transform: scale(0.8);
    cursor: pointer;
}
.rating {
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
}
.icons-location{
    float: right;
    color: rgb(152, 0, 0);
}

.all-business-navs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}